{% extends 'webstarsapp/base.html' %}
{% block head %}  

<title >WEBSTARS | Home </title>


{% endblock head %}
{% block content %}
<!-- <div class="justify-content-between"> -->
<div class="section" id="info">
        <!-- <div class="d-inline-flex"> -->
        <div class="row my-4 align-content-between">
                <div class="col-lg-5  text-center mx-auto p-3 content1">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dignissimos repellendus ea adipisci deserunt. Sed soluta, magni, necessitatibus quae asperiores optio debitis, neque iure et quidem possimus inventore impedit consequatur delectus non temporibus? Expedita, dolorem praesentium eligendi accusamus ducimus dignissimos!</p>
                        <br>
                        <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio sit saepe quaerat eligendi libero eos, hic minima rem, quibusdam laboriosam deserunt? Voluptas facere corrupti maiores repellat amet eaque, fugit ullam dolorum laboriosam quibusdam sint sit alias quia magni in autem eius, facilis accusantium praesentium molestias velit. Ipsam dolor impedit at.
                        </p>
                </div>
                
                <!-- <div class="row"> -->
                        <div class="col-lg-5 text-light mx-auto text-center content2">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ex eos vitae iusto. A veniam vero exercitationem illo, laboriosam, corporis quis explicabo magni voluptatum, quidem ab reprehenderit quo ad animi placeat? Optio porro dicta quod necessitatibus, velit dolore animi praesentium.</p>
                                <hr>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, voluptatibus qui alias rem laudantium laboriosam magnam quo? Delectus quo quidem velit. Pariatur, earum cumque molestiae quaerat delectus dicta, debitis tenetur nihil libero, itaque assumenda consectetur maxime. Ducimus ipsa, repellendus alias quia fuga sunt nemo obcaecati error hic perferendis eum at reiciendis voluptate. Nobis aliquam sed distinctio, numquam facere aspernatur minima dolores optio possimus nisi odit molestias beatae voluptatibus quisquam harum velit fuga temporibus non magni nihil maxime a rem. Suscipit, dolorum aperiam rerum tenetur consequuntur voluptas quae officia quis at iusto doloremque modi, quos inventore fugiat, hic perferendis sint similique!</p>
                        </div>
                        
                        <!-- </div> -->
                <!-- </div> -->
        </div>        

</div>
<!-- </div> -->
{% block other %}
{% endblock other %}


<body >
        
        
</body> 

{% endblock content %}
.