{% extends 'webstarsapp/base.html' %}
{% load crispy_forms_tags %}
{% block head %}

<title class=" text-capitalize ">WEBSTARS | Signup </title>


{% endblock head %}
{% block content %} 

<div class="container signup ">
    <div class="row mx-auto">
        <div class="col-6  position-relative ">
            <form action="." method="post" class="my-5 position-absolute form-hover bg-light p-5 ">
                {% csrf_token %}

                <div class='align-content-center'>
                    <div class="form-text text-primary text-center p-2">join today</div>

                    {{form|crispy}}
                    
                    <button type="submit" class=" btn btn-outline-primary text-uppercase"> signup</button>
                    <br>
                    <hr>
                    <div class="text-muted ">
                        <small>Have an account? <a href="{% url 'login' %}">login</a></small>
                    </div>
                </div>                
            </form>

        </div>
    </div>
</div>

{% endblock content %}